* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #f0edcc;
  color: #02343f;
}

header {
  width: 100%;
  height: 100px;
}

.logo {
  float: left;
  margin-left: 10%;
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #02343f;
  color: #f0edcc;
}

.nav {
  float: right;
  margin-right: 10%;
  width: 480px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.nav > li > a {
  float: left;
  width: 120px;
  color: #02343f;
}

section {
  width: 100%;
}

figure > img {
  width: 100%;
}

h1 {
  height: 80px;
  line-height: 80px;
  margin-left: 10%;
}

p {
  width: 80%;
  margin-left: 10%;
  font-size: 20px;
}
